<h2>User info</h2>
<table class="table">		
			<p><%= attachment_image_tag user, :profile_image, :fill, 100, 100, fallback: "no_image.jpg" %></p>
		</tr>
	<tbody>
		<tr><td>name</td>
			<td><%= user.name %></td>
		</tr>
		<tr>
			<td>introduction</td>
			<td><%= user.introduction %></td>
		</tr>
	</tbody>
</table>	
		<% if user.id == current_user.id %>
			<p>
				<%= link_to "", edit_user_path(current_user.id), class: "btn btn-default glyphicon glyphicon-wrench btn-xs btn-block" %>
			</p>
		<% else %>
			<p>
				<%= link_to "", user_path(current_user.id), class: "btn btn-default glyphicon glyphicon-wrench btn-xs btn-block" %>
			</p>
		<% end %>
		



