<div class=container>
  <div class="row">
    <div coass="col-lg-9">         
    <h2>User info</h2>
    <div>
      <%= form_for(@user) do |f| %>
      <% if f.object.errors.any? %>
        <div id="error_explanation">
          <h2><%= f.object.errors.count %>件のerrorーが発生しました。</h2>
          <ul>
          <% f.object.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

        <div>
            <label>Name</label>
            <%= f.text_field :name, id:"inputEmail", placeholder:""%>
        </div>
        <div>                                    
            <label>Image</label>
            <%= f.attachment_field :profile_image, placeholder: "" %>
        </div>                                
        <div>
            <label>Introduction</label>
            <%= f.text_area :introduction, id:"inputEmail", placeholder:""%>
        </div>                      
        <%= f.submit "Update User", class:"btn btn-default btn-xs" %>
    <% end %>
    </div>
    </div>
  </div>
</div>